{{#leaflet-map lat=lat lng=lng zoom=zoom dragging=true zoomControl=false}}
  {{tile-layer url="https://{s}.tile.openstreetmap.fr/hot/{z}/{x}/{y}.png"}}
  {{#each model as |truck|}}
    {{#marker-layer lat=truck.lat lng=truck.lng
                    onClick=(action 'viewTruck' truck.id)}}
      {{truck.name}}
    {{/marker-layer}}
  {{/each}}
{{/leaflet-map}}

<div class="panel">
  <div class="search-icon-container">
    {{#link-to 'map.panel'}}
      <i class="search-icon fa fa-search"></i>
    {{/link-to}}
  </div>
</div>
{{outlet}}
